#
# Requirements file for sample oq mbt project
# 2021.05.14

https://wheelhouse.openquake.org/v3/linux/py38/GDAL-3.2.2-cp38-cp38-manylinux1_x86_64.whl
# gdal
rtree
numpy 

git+git://github.com/gem/oq-engine.git
git+git://github.com/GEMScienceTools/oq-mbtk.git
